.row
  .columns.large-12.small-12
    %h1 Acciones de movimiento de documento.
  .row
    %table.columns.large-12
      %thead
        %tr
          %th Nombre
      %tbody
        - @admin_movacciones.each do |admin_movaccion|
          %tr
            %td
              = admin_movaccion.nombre
              %p.right
                = link_to 'Mostrar', admin_movaccion_path( admin_movaccion )
                = link_to 'Editar', edit_admin_movaccion_path(admin_movaccion)
                = link_to 'Eliminar', [:admin, admin_movaccion], :method => :delete, :data => { :confirm => '¿Estás seguro?' }

    = link_to '+ Nueva acción', new_admin_movaccion_path

    
