<div class='row'>
  <div class='columns large-12 small-12'>
    <p id="notice"><%= notice %></p>
    <dl class='sub-nav'>
      <dt>Areas</dt>
      <dd><%=link_to "ASIGNACIÓN DE USUARIOS", asignacion_admin_areas_path %></dd>
    </dl>
    <h1>Areas</h1>

    <div class='row'>
      <table class='large-12'>
        <thead>
          <tr>
            <th>Nombre</th>            
          </tr>
        </thead>

        <tbody>
          <% @areas.each do |area| %>
            <tr>
              <td>
                <%= area.nombre %>
                <p class='right'>
                  <%= link_to 'Mostrar', admin_area_path(area) %>
                  <%= link_to 'Editar', edit_admin_area_path(area) %>
                  <%= link_to 'Eliminar', [:admin, area], method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'Nueva Area', new_admin_area_path %>
  </div>
</div>