<% title("Admin") %>
<h1>Admin <small>Inicio</small></h1>
<div class="row">
  <div class="col-sm-4">
    <h3>Menu</h3>    
    <ul class='side-nav'>
      <li>
        <%= link_to "Usuarios", admin_users_path %>       
      </li>
      <li>
        <%= link_to "Areas", admin_areas_path %>        
      </li>
      <li>
        <%= link_to "Documento" %>
        <ul>
          <li><%= link_to "Tipos", admin_doctipos_path%></li>
          <li><%= link_to "Acciones", admin_movacciones_path %></li>
        </ul>  
      </li>
      
    </ul>
    <hr/>
  </div>

  <div class="col-sm-4">
    <h3>Últimos usuarios.</h3>
    <ul class="list-unstyled">
      <% @last_signups.each do |user| %>
      <li class="list-padded-bottom">
        <%= link_to user.username, edit_admin_user_path(user) %><br/>
        <small><%= time_ago_in_words(user.created_at)%> ago</small>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Últimos ingresos.</h3>
    <ul class="list-unstyled">
      <% @last_signins.each do |user| %>
      <li class="list-padded-bottom">
        <%= link_to user.username, edit_admin_user_path(user) %><br/>
        <small>
          <% unless user.last_sign_in_at.nil? %>
          <%= time_ago_in_words(user.last_sign_in_at)%> ago
          <% else %>
          never
          <% end %>
        </small>
      </li>
      <% end %>
    </ul>
  </div>

</div>
