.row.bandeja-entrada-area{'ng-app' => 'app', 'ng-controller' => 'AreaBandejaController','ng-init' => "area_id='#{@area.id}'"}
  .columns.small-12
    .row
      %h1.columns.small-9.large-9
        =@area.nombre
      .columns.small-3.large-3
        %strong
          %a.button.small{'href' => new_documento_path(area_generadora_id: @area.id) }
            =fa_icon 'plus-circle'
            %strong CREAR DOCUMENTO
  .columns.small-12
    .row
      .columns.small-3        
        %select{ 'ng-model' => 'current_tipo_bandeja' }
          %option{'ng-repeat' => 'tipo in tipos_bandeja', 'value'=>'{{tipo.id}}'} {{tipo.nombre}}        
      .columns.small-9
        %input{type: 'text', placeholder: 'Ingrese su búsqueda', 'ng-model' => 'texto_buscar'}
    .row
      .columns.small-12.large-12
        .text-center{'ng-class' => "{'hide': !esta_cargando }"}=render "pages/loader"

        %h4.text-center{'ng-class' => "{'hide': (movimientos.length>0) }"} La bandeja está vacía.
        %div.columns.large-12.small-12{'ng-class' => "{'hide': esta_cargando||!(movimientos.length>0)}"}
          %div.bandeja        
            %div.item-doc{'ng-repeat' =>'item in movimientos','ng-class' => "{'hide': (item.visible==false)}"}
              %ul.lado-derecho
                %li
                  %span.fecha {{item.created_at | date: 'dd/MM/yyyy HH:mm:ss'}}
                %li
                  estado: {{item.documento.estado}}

              %ul.lista-movimientos
                %li{'ng-class' => "{'hide':!(item.area_destino_id==area_id && item.recibido) || item.documento.estado=='finalizado' }"}
                  %a{"ng-click" => "cambiar_estado_documento(item,'detenido')", title: 'Detener trámite'}
                    = fa_icon 'pause'
                    retener
                %li{'ng-class' => "{'hide':!(item.area_destino_id==area_id && item.recibido) || item.documento.estado=='finalizado' }"}
                  %a{"ng-click" => "cambiar_estado_documento(item,'finalizado')", title: 'Finalizar trámite'}
                    = fa_icon 'thumbs-up'
                    finalizar
                %li{'ng-class' => "{'hide':!(item.area_destino_id==area_id && !item.recibido)}"}
                  %a{'ng-click' => 'recibir_documento(item)', title: 'Recepcionar documento'}
                    =fa_icon "hand-o-up"
                    recepcionar
                %li{'ng-class' => "{'hide':!(item.area_destino_id==area_id && item.recibido == 1)}"}
                  %a{'href' => '/documentos/new?area_generadora_id={{area_id}}&documento_hijo_id={{item.documento.id}}', 'ng-click' => 'recibir_documento(item)', title: 'Responder documento'} 
                    =fa_icon "mail-reply-all"
                    responder
              
              %span.verificar
                %input{type: :checkbox}
              .contenido
                %span.remitente {{item.documento.remitente}}
                %a.asunto{'href' => "/documentos/{{item.documento_id}}"} {{item.documento.asunto}}
                %ul.tags
                  %li{'ng-repeat' => 'tag in item.tags', 'ng-class' => 'tag.id'} 
                    =fa_icon 'tag'
                    {{tag.nombre}}
          .paginador.text-center
            %ul.pagination.text-center
              %li
                %a.btn-cargar-mas{'ng-click' => 'anterior_pagina()', 'ng-if' => 'current_page>1'}
                  &laquo; Anterior
              %li
                %a.btn-cargar-mas{'ng-click' => 'reset_page()', 'ng-if' => 'current_page>2'} 1
              %li.unavailable{'ng-if' => 'current_page>2'}
                %a &hellip;
              %li
                %a
                  Pág. {{current_page}}
              %li
                %a.btn-cargar-mas{'ng-click' => 'siguiente_pagina()'}
                  Siguiente &raquo; 

= javascript_include_tag 'areas-bandeja'
= stylesheet_link_tag 'bandeja-entrada-area'