.row.bandeja-entrada-area{'ng-app' => 'app', 'ng-controller' => 'AreaBandejaController','ng-init' => "area_id='#{@area.id}'"}
  .columns.small-12
    .row
      %h1.columns.small-9.large-9
        =@area.nombre
      .columns.small-3.large-3
        %strong
          %a.button.small{'href' => new_documento_path(area_generadora_id: @area.id) }
            =fa_icon 'plus-circle'
            %strong CREAR DOCUMENTO
  .columns.small-12
    .row
      .columns.small-3        
        %select{ 'ng-model' => 'current_tipo_bandeja' }
          %option{'ng-repeat' => 'tipo in tipos_bandeja', 'value'=>'{{tipo.id}}'} {{tipo.nombre}}        
      .columns.small-9
        %input{type: 'text', placeholder: 'Ingrese su búsqueda', 'ng-model' => 'texto_buscar'}
    .row
      .columns.small-12.large-12
        .text-center{'ng-class' => "{'hide': !esta_cargando }"}=render "pages/loader"

        %h4.text-center{'ng-class' => "{'hide': (movimientos.length>0) }"} La bandeja está vacía.
        %table.columns.large-12.small-12{'ng-class' => "{'hide': esta_cargando||!(movimientos.length>0)}"}
          %thead
            %tr
              %th 
              %th FECHA
              %th ASUNTO
              %th REMITENTE
          %tbody
            %tr{'ng-repeat' =>'item in movimientos','ng-class' => "{'hide': (item.visible==false)}"}
              %td
                %input{type: :checkbox}              
              %td {{item.created_at | date: 'dd/MM/yyyy HH:mm:ss'}}
              %td
                %a{'href' => "/documentos/{{item.documento_id}}"} {{item.documento.asunto}}
                %ul.inline-list.lista-movimientos
                  %li{'ng-class' => "{'hide':!(item.area_destino_id==area_id && item.recibido)}"}
                    %a{"ng-click" => "cambiar_estado_documento(item,'detenido')"}
                      = fa_icon ''
                      Detener
                  %li{'ng-class' => "{'hide':!(item.area_destino_id==area_id && item.recibido)}"}
                    %a{"ng-click" => "cambiar_estado_documento(item,'finalizado')"}
                      = fa_icon ''
                      Finalizar
                  %li{'ng-class' => "{'hide':!(item.area_destino_id==area_id && !item.recibido)}"}
                    %a{'ng-click' => 'recibir_documento(item)'}
                      =fa_icon "level-down"
                      Recepcionar
                  %li{'ng-class' => "{'hide':!(item.area_destino_id==area_id && item.recibido == 1)}"}
                    %a{'href' => '/documentos/new?area_generadora_id={{area_id}}&documento_hijo_id={{item.documento.id}}', 'ng-click' => 'recibir_documento(item)'} 
                      =fa_icon "plus-square"
                      Responder
              %td {{item.documento.remitente}}
= javascript_include_tag 'areas-bandeja'
= stylesheet_link_tag 'bandeja-entrada-area'